{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<!-- Création du menu -->
<link href="../assets/styleContact.css" rel="stylesheet" type="text/css" />

<div class="color">
    <div class="titreContactezNous">
        Contactez-nous
        <hr>
    </div>
    <div class="logo">
        <div class="logo1">
            <img src="../assets/logo1.png" alt="logo" class="logo1" />
        </div>

        <div class="logo2">
            <img src="../assets/logo2.png" alt="logo" class="logo1" />
        </div>

        <div class="logo3">
            <img src="../assets/logo3.png" alt="logo" class="logo1" />
        </div>

        <div class="description1">
            ................................................................................
            ................................................................................
            ................................................................................
        </div>

        <div class="description2">
            ................................................................................
            ................................................................................
            ................................................................................
        </div>

        <div class="description3">
            ................................................................................
            ................................................................................ 
            ................................................................................
        </div>
    </div>
    <div class="description">
        
    </div>
</div>

<div class="main">
  <form class="mainform">
  {{ form_start(form) }}
    <fieldset>
    <legend class="TitreFormulaire">Formulaire de Contact</legend>
    <hr class="center_hr">
      <div class="formGroupNom">
        <label for="exampleInputNom1" class="form-label mt-4">Nom</label>
        <input type="nom" class="form-control" id="exampleInputNom1" aria-describedby="nomHelp" placeholder="Entrer votre nom ici" data-bcup-score="18" data-bcup="attached" style="padding-right: 42.4px;">
      </div>
      <div class="form-group-prenom">
        <label for="exampleInputPrenom1" class="form-label mt-4">Prenom</label>
        <input type="prenom" class="form-control" id="exampleInputPrenom1" aria-describedby="prenomHelp" placeholder="Entrer votre prenom ici" data-bcup-score="18" data-bcup="attached" style="padding-right: 42.4px;">
      </div>
      <div class="form-group-num">
        <label for="exampleInputNum1" class="form-label mt-4">Numéro</label>
        <input type="num" class="form-control" id="exampleInputNum1" aria-describedby="numHelp" placeholder="Entrer votre numéro ici" data-bcup-score="18" data-bcup="attached" style="padding-right: 42.4px;">
      </div>
      <div class="form-group-mail">
        <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre adresse email ici" data-bcup-score="18" data-bcup="attached" style="padding-right: 42.4px;">
      </div>
      <div class="form-group-motif">
        <label for="motif1" class="form-label mt-4">Motif de la demande</label>
        <select class="form-select" id="motif1">
          <option>Motif 1</option>
          <option>Motif 2</option>
          <option>Motif 3</option>
          <option>Motif 4</option>
          <option>Motif 5</option>
        </select>
      </div>
      <div class="form-group-desc">
        <label for="zoneTextDescription" class="form-label mt-4">Description</label>
        <textarea class="form-control" id="zoneTextDescription" rows="3"></textarea>
      </div>
      <div class="form-group-file">
        <label for="formFile" class="form-label mt-4">Joindre un Fichier ici</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <button type="submit" class="btn btn-primary" data-bcup-haslogintext="no">Envoyer</button>
      
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
  
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
{{ form_end(form) }}
  </form>
</div>
{% endblock %}