{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<!-- Création du menu -->
<link href="../assets/styleContact.css" rel="stylesheet" type="text/css" />

<div class="color">
    <div class="titreContactezNous">
        Contactez-nous
        <hr>
    </div>
    <div class="logo">
        <div class="logo1">
            <img src="../assets/logo1.png" alt="logo" class="logo1" />
        </div>

        <div class="logo2">
            <img src="../assets/logo2.png" alt="logo" class="logo1" />
        </div>

        <div class="logo3">
            <img src="../assets/logo3.png" alt="logo" class="logo1" />
        </div>

        <div class="description1">
            02 34 56 78 91
        </div>

        <div class="description2">
            omega'rage.ange@gmail.com
        </div>

        <div class="description3">
            54 Rue de Marzelles, 27200 Vernon
        </div>
    </div>
    <div class="description">
        
    </div>
</div>

<div class="main">
  <div class="mainform">
  {{ form_start(form) }}
    <fieldset>
    <legend class="TitreFormulaire">Formulaire de Contact</legend>
    <hr class="center_hr">
      <div class="formGroupNom">
        <label for="exampleInputNom1" class="form-label mt-4">{{ form_label(form.nom) }}</label><br/>
        {{ form_widget(form.nom) }}
      </div>
      <div class="form-group-prenom">
        <label for="exampleInputPrenom1" class="form-label mt-4">{{ form_label(form.prenom) }}</label><br/>
        {{ form_widget(form.prenom) }}
      </div>
      <div class="form-group-mail">
        <label class="form-label mt-4">{{ form_label(form.email) }}</label><br/>
        {{ form_widget(form.email) }}
      </div>
      <div class="form-group-desc">
        <label for="zoneTextDescription" class="form-label mt-4">Description</label><br/>
        {{ form_widget(form.contenu) }}
      </div>
      <button type="submit" class="btn btn-primary" href="#">Envoyer</button>

  {{ form_end(form) }}
  </div>
</div>
{% endblock %}